@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
 
body {
    font-size: 100%; 
    background: linear-gradient(rgb(146, 146, 146), rgb(54, 54, 54));
}

.continer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black;

}

.box {
    border-radius: 15px;
    background: linear-gradient(rgb(77, 77, 77), rgb(27, 27, 27));
    box-shadow: 5px 5px 8px black;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho {
    height: 15%;
    border-bottom: solid 1px rgb(44, 187, 0);
    margin-bottom: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*////////////////////////////////////////////////////////////////////////*/

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content {
    margin-top: auto;
    margin-bottom: auto;
    width: 25em;
    height: 25em; 
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    margin: auto;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h2 {
    margin: 10px;
}

p {
    margin: 10px;
}


.input {
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.input::placeholder{
    color: rgb(18, 68, 3);
}

.btn{
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px rgb(44, 187, 0);
    color: rgb(44, 187, 0);
    background-color: rgb(49, 49, 49);
    cursor: pointer;
}

.btn-verificar {
    background-color: rgb(45, 45, 45);
}
.btn-limpar {
    background-color: rgb(41, 40, 40);
}

.btn-enviar:hover {
    background-color: rgb(44, 187, 0);
    color: rgb(49, 49, 49);
}

.btn-verificar:hover {
    background-color: rgb(44, 187, 0);
    color: rgb(49, 49, 49);
}
.btn-limpar:hover {
    background-color: rgb(44, 187, 0);
    color: rgb(49, 49, 49);
}

/*////////////////////////////////////////////////////////////////////////*/

.respostas {
    border-radius: 15px;
    padding: 10px;
    border: solid 1px rgb(44, 187, 0);
    overflow-y: scroll;
}
*::-webkit-scrollbar {
    width: 12px;
  }
  

#results {
    color: rgb(155, 255, 125);
    margin-top: 5px;
}

/*////////////////////////////////////////////////////////////////////////*/

.rodape {
    height: 10%;
    margin-top: auto;
    border-top: solid 1px rgb(44, 187, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
a {
    margin: auto;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(44, 187, 0);
}

/*////////////////////////////////////////////////////////////////////////*/
/* responsividae */

/* Em relação a linha Horizontal (largura da tela)*/
@media screen and (max-width: 1080px){
    .content {
        width: 20em;
        height: 20em; 

    }
} 

@media screen and (max-width: 900px){
    .box {
        height: 100%;
    }

    .cabecalho {
        margin-bottom: 2px;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .content {
        margin: auto;
        width: 30em; 
    }

    .btn {
        margin-bottom: 10px;
    }
} 

@media screen and (max-width: 750px){
    .box {
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    .content {
        width: 30em;
 
    }
} 

@media screen and (max-width: 480px){
    .content {
        width: 18em; 
    }
} 

/* Em relação a linha Vertical (altura da Tela)*/

@media screen and (max-height: 1024px){
    .content {
        
        height: 18em; 
    }
} 

@media screen and (max-height: 800px){
    .main {
        height: 1200px;
    }

    .content {
        height: 15em; 
    }
} 

@media screen and (max-height: 650px){
    body {
        font-size: 15px;
    }

    .content {
        margin-top: 10px; 
    }
} 

@media screen and (max-height: 620px){
    .respostas {
        margin-top: 20px;
        height: 10em; 
    }
}
